<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.myandroidapplication"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.SET_WALLPAPER" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MAATheme" >
        <activity
            android:name=".MAA"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainMenu"
            android:label="@string/title_activity_main_menu" >
            <intent-filter>
                <action android:name="com.myandroidapplication.MENU" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:label="@string/title_activity_login" >
            <intent-filter>
                <action android:name="com.myandroidapplication.Login" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MovingText"
            android:label="@string/title_activity_moving_text" >
            <intent-filter>
                <action android:name="com.myandroidapplication.MovingText" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Time"
            android:label="@string/title_activity_time" >
        </activity>
        <activity
            android:name=".Email"
            android:label="@string/title_activity_email" >
        </activity>
        <activity
            android:name=".Photo"
            android:label="@string/title_activity_photo"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Send"
            android:label="@string/title_activity_send" >
        </activity>
        <activity
            android:name=".Get"
            android:label="@string/title_activity_get" >
        </activity>
        <activity
            android:name=".AboutUs"
            android:label="@string/title_activity_about_us"
            android:theme="@android:style/Theme.Dialog" >
            <intent-filter>
                <action android:name="com.myandroidapplication.ABOUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Prefs"
            android:label="@string/title_activity_prefs" >
            <intent-filter>
                <action android:name="com.myandroidapplication.PREFS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>